@import "common";
// 设计稿：750px
body {
    min-width: 320px;
    // 宽度计算：750px / (750px / 15份) = 15rem
    // 也可以使用max-width ：750px
    width: 15rem;
    // 设置水平居中对齐必须要有宽度
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background: #f2f2f2;
}

// 页面元素rem计算公式： 页面元素的px / html 字体大小 50
// search-content
@baseFont: 50;
.search-content {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: (88rem / @baseFont);
    background-color:#FFC001;
    .classify {
        width: (44rem / @baseFont);
        height: (70rem / @baseFont);
        margin: (11rem / @baseFont) (25rem / @baseFont) (7rem / @baseFont) (24rem / @baseFont);
        background: url(../images/classify.png) no-repeat;
        // 背景缩放
        background-size: (44rem / @baseFont) (70rem / @baseFont);
    }
    .search {
        flex: 1;
        input {
            // 去除input搜索框在输入时会出现的蓝色边框
            outline: none;
            width: 100%;
            border: 0;
            height: (66rem / @baseFont);
            border-radius: (33rem / @baseFont);
            background-color:#FFF2CC;
            margin-top: (12rem / @baseFont);
            font-size: (25rem / @baseFont);
            padding-left: (55rem / @baseFont);
            color: #757575;
        }
    }
    .login {
        width: (75rem / @baseFont);
        height: (70rem / @baseFont);
        line-height: (70rem / @baseFont);
        margin: (10rem / @baseFont);
        font-size: (25rem / @baseFont);
        text-align: center;
        color: #fff;

    }
}

// banner
.banner {
    width: (750rem / @baseFont);
    height: (368rem / @baseFont);
    img {
        width: 100%;
        height: 100%;
    }
}

// ad
.ad {
    display: flex;
    a {
        flex: 1;
        img {
            width: 100%;
        }
    }
}

nav {
    //在nav里面加上display: flex没有效果，li的直接父级是ul
    width: (750 / @baseFont);
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            flex: 20%;
            a {
                display: flex;
                width: (150rem / @baseFont);
                height: (140rem / @baseFont);
                flex-direction: column;
                align-items: center;
                img {
                    display: block;
                    width: (82rem / @baseFont);
                    height: (82rem / @baseFont);
                    margin: (10rem / @baseFont) auto 0;
                }
                span {
                    font-size: (25rem / @baseFont);
                    color: #333;
                }
            }
        }
    }
}


